<div class="row" *ngIf="member">
    <div class="col-2">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="" class="card-img img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member?.created | date:'medium'}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Liked</button>
                    <button class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="About {{member.knownAs}}">
                <h4 class="mt-4">Descriptio</h4>
                <p>{{member.introduction}}</p>
                <h4>Lookin for:</h4>
                <p>{{member.lookingFor}}</p>
            </tab>
            <tab heading="Interests">
                <h4 class="mt-4">Interests</h4>
                <p>{{member.interests}}</p>
            </tab>
            <tab heading="Photos">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
            </tab>
            <tab heading="Messages">
                <h4 class="mt-4">Messages will come soon</h4>
            </tab>
            
        </tabset>
    </div>
</div>